.SmallPixel{
width:50px;
height: 50px;
margin: 10px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
.colorNav{
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}
.bgRed{
  background-color: red;
}
.container {
  height: 50vh; 
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
padding: 0 60px;
}
.pixel {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  margin: 5px;
}
.pickedPixel{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}